{% extends 'layout.html' %}

{% block content %}
{% load static %}
{% static "images" as baseUrl %}


	<!-- Intro -->
	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_container">
						<div class="row">
							{% for intro in intro_items %}
							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{{baseUrl}}/{{intro.img}}" alt=""/></div>
									<div class="intro_content">
										<div class="intro_title">{{intro.name}}</div>
										<div class="intro_subtitle"><p>{{intro.desc}}</p></div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Destinations -->

	<div class="destinations" id="destinations">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle"><h1>simply amazing Desserts</h1></div>
					<div class="section_title"><h2>Popular Thai Desserts</h2></div>
				</div>
			</div>
			<div class="row destinations_row">
				<div class="col">
					<div class="destinations_container item_grid">
						{% for dest in dests %}
						<!-- Destination -->
						<div class="destination item">
							<div class="destination_image">
								<img src="{{baseUrl}}/{{dest.img}}" alt="">
								{% if dest.offer%}
								<div class="spec_offer text-center"><a href="#">Special Offer</a></div>
								{% endif %}
							</div>
							<div class="destination_content">
								<div class="destination_title"><a href="destinations.html">{{dest.name}}</a></div>
								<div class="destination_subtitle"><p>{{dest.desc}}</p></div>
								<div class="destination_price">From ${{dest.price}}</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock %}


